@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: HelveticaNeue93;
    src: url('../fonts/HelveticaNeue93BlExt.ttf') format('truetype');
}

.red_flicker {
    animation: animate_red_flicker .5s linear forwards;
    animation-iteration-count: 1;
}

.green_flicker {
    animation: animate_green_flicker .5s linear forwards;
    animation-iteration-count: 1;
}

.glass {
    background: rgba(0, 0, 0, 0.22);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(255, 255, 255, 0.22);
}

.glass:hover {
    background: rgba(25, 25, 25, 0.05);
}

div.skeleton:empty {
    /* background: rgba(39, 39, 39, 0.22); */
    background: linear-gradient(to right, rgba(39, 39, 39, 0.22), rgba(64, 64, 64, 0.22));
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(255, 255, 255, 0.22);
}

@layer base {
    :root {
        color-scheme: dark;
    }

    html {
        @apply bg-[#121b1b] text-txt;
    }

    body {
        @apply px-4 md:px-8 lg:px-12 bg-[#080c08];
        background: radial-gradient(50% 123.47% at 50% 50%, #161616 0%, #0b100b 100%),
            linear-gradient(121.28deg, #000000 0%, #5f8468 100%),
            linear-gradient(360deg, #000000 0%, #10101c 100%),
            linear-gradient(114.9deg, #0e190d 0%, #0a1914 100%),
            radial-gradient(100% 148.07% at 0% 0%, #194834 0%, #3a594e 100%);
        background-blend-mode: screen, color-dodge, overlay, difference, normal;
        background-size: 400% 400%;
        animation: gradient 15s ease infinite forwards;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .no-scroll {
        scrollbar-width: none !important;
    }

    .no-scroll::-webkit-scrollbar {
        display: none !important;
    }

    canvas {
        background-color: transparent;
    }

    ::marker,
    ::-webkit-details-marker {
        display: none !important;
    }

    summary {
        display: flex;
    }

    @keyframes animate_red_flicker {
        0% {
            color: #fe1b30;
        }

        100% {
            color: white;
        }
    }

    @keyframes animate_green_flicker {
        0% {
            color: #00ff90;
        }

        100% {
            color: white;
        }
    }
}